body {
    background-color: #cccccc;
    margin: 0;
}





.header-1 {
    background-color: #e8e8e8;
    height: 35px;
    width: 100%;

    position: relative; 



    z-index: 2; /* Add z-index */




    display: flex;
    align-items: center;




    gap: 18px;








    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    /* Add shadow */








    color: #6D6E70;
    color: rgb(109, 110, 112);

    font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
    font-variant: normal;
    font-kerning: auto;
    font-optical-sizing: auto;
    font-stretch: 100%;
    font-variation-settings: normal;
    font-feature-settings: normal;
    text-transform: none;

    letter-spacing: normal;
    word-spacing: 0px;

    text-decoration: none solid rgb(109, 110, 112);


}

.header-1 .glass {
    margin-left: 895px;
}

.header-1 .dot {
    margin-right: 140px;
}




.signin {
    color: #e1202b;
}

.header-2 {

    display: flex;
    justify-content: space-around;
    



    align-items: center;
    height: 85px;
    background-color: #f8f8f8;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    /* Add shadow */




    position: relative;
    z-index: 1; /* Add this */




    padding-left: 70px;
    padding-right: 70px;


    color: #6d6e70;
    font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-weight: 600;
    font-style: normal;
    font-variant: normal;
    font-kerning: auto;
    font-optical-sizing: auto;
    font-stretch: 100%;
    font-variation-settings: normal;
    font-feature-settings: normal;
    text-transform: none;

    line-height: 21px;
    letter-spacing: normal;
    word-spacing: 0px;

    text-decoration: none solid rgb(0, 0, 0);
    text-indent: 0px;



}


.red-box {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    background-color: #e11b22;
    align-items: center;
    height: 85px;
    width: 183px;

}

.input {
    width: 140px;
    height: 19px;
    margin-top: -50px;
    outline: none;
    outline-style: none;
    outline-color: none;
}

.find {
    margin-top: 3px;


    color: #FFFFFF;
    color: rgb(255, 255, 255);

    font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 17px;
    font-weight: 400;
    font-style: normal;
    font-variant: normal;
    font-kerning: auto;
    font-optical-sizing: auto;
    font-stretch: 100%;
    font-variation-settings: normal;
    font-feature-settings: normal;
    text-transform: none;

    line-height: 20px;
    letter-spacing: normal;
    word-spacing: 0px;

    text-decoration: none solid rgb(255, 255, 255);
    text-indent: 0px;

}

.red-cross-logo {
    width: 214px;
    height: 46px;
}

.header-3 {

    background-color: #ffffff;
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;


    position: relative;
    z-index: 0; /* Add this */




    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);


}

.header-3 span {
    color: #000000;
    background-color: #000000;
    background-color: RGBA(0, 0, 0, 0);
    
    font-family: Roboto, Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 12px;
    
    line-height: 18px;
    vertical-align: middle;
    letter-spacing: normal;
    word-spacing: 0px;
    
    font-weight: 400;
    font-style: normal;
    font-variant: normal;
    font-kerning: auto;
    font-optical-sizing: auto;
    font-stretch: 100%;
    font-variation-settings: normal;
    font-feature-settings: normal;
    text-transform: none;
    text-align: left;
    text-indent: 0px;
    

}
.header-3 h2{
    color: #000000;
background-color: #000000;
background-color: RGBA(0, 0, 0, 0);

font-family: Roboto, Arial, "Helvetica Neue", Helvetica, sans-serif;
font-size: 16px;

line-height: 17.6px;
letter-spacing: normal;
margin: 0px;

font-weight: 700;
font-style: normal;
font-variant: normal;
font-kerning: auto;
font-optical-sizing: auto;
font-stretch: 100%;
font-variation-settings: normal;
font-feature-settings: normal;
text-decoration: none solid rgb(154, 151, 147);

}


.home{
    margin-left: 112px;
}
.socialmedia-icon{
    width: 41px;
    height: 41px;

}

.socialmedia-icon-mail{
    width: 41px;
    height: 41px;
    margin-left: 940px;
}

.body{
    background-color: #ffffff;
    height: 100%;
    width: 1350px;
    margin-left: 90px;
}


